/bassmididrv_source/*.exp
/bassmididrv_source/*.ilk
/bassmididrv_source/*.lib
/bassmididrv_source/*.obj
/bassmididrv_source/*.opensdf
/bassmididrv_source/*.pdb
/bassmididrv_source/*.sdf
/bassmididrv_source/*.vcxproj.user
/bassmididrv_source/*.suo
/bassmididrv_source/*.user
/bassmididrv_source/ipch
/bassmididrv_source/x64
/bassmididrv_source/output
/bassmididrv_source/Release
/bassmididrv_source/Debug
/bassmididrv_source/out
/bassmididrv_source/*.dll
/bassmididrv_source/*.exe
/drivercfg/*.opensdf
/drivercfg/*.sdf
/drivercfg/*.vcxproj.user
/drivercfg/*.suo
/drivercfg/*.user
/drivercfg/ipch
/drivercfg/Release
/drivercfg/Debug
/drivercfg/*.dll
/drivercfg/*.exe
/sfpacker/*.opensdf
/sfpacker/*.sdf
/sfpacker/*.vcxproj.user
/sfpacker/*.suo
/sfpacker/*.user
/sfpacker/ipch
/sfpacker/Release
/sfpacker/Debug
/sfpacker/*.dll
/sfpacker/*.exe
/output/
git_ver.h
bassmididrv.exe
